<div class="m-5 p-5 justify-content-center">
  <div>
    <h4>User Role</h4>
<mat-form-field appearance="fill">
 
  <select matNativeControl (change)="onchangeRole($event)" >
    <option value="all" selected>All</option>
    <option value="chef">chef</option>
    <option value="user">user</option>
  </select>
</mat-form-field>
  </div>
  <div class="input-group rounded mb-3">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" id="search" #search
      aria-describedby="search-addon" (input)="onSearchQueryInput($event)" />
    <span class="input-group-text border-0" id="search-addon">
  
      <mat-icon>search</mat-icon>
    </span>
  </div>
<table class="table align-middle mb-0 bg-white ">
    <thead class="bg-light">
      <tr>
        <th>Name</th>
     
        <th>Email</th>
        <th>Position</th>
        <th>Activity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let user of usersList  | paginate
      : {
          itemsPerPage: itemsPerPage,
          currentPage: page,
          totalItems: totalItems
        }" >
        <td>
          <div class="d-flex align-items-center">
            <img
            [src]="user?.pathToProfilePic ? user?.pathToProfilePic : defaultImage "
                alt="userPic"
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">{{user?.firstName}} {{user?.lastName}}</p>
             
            </div>
          </div>
        </td>
        <td>{{user?.email}}</td>
        <td>
          <p class="fw-normal mb-1">{{user?.userRole}}</p>
          
        </td>
        <td >
          <span *ngIf="user?.isActive" class="badge badge-success rounded-pill d-inline">Active</span>
        </td>
        <td>
          <button type="button" class="btn btn-link btn-sm btn-rounded"  (click)="onToggleBtn(user?.userId)" (click)="user.isBlocked = !user.isBlocked" *ngIf="user.isBlocked">
            Unblock
          </button>
          <button type="button" class="btn btn-link btn-sm btn-rounded" (click)="onToggleBtn(user?.userId)" (click)="user.isBlocked = !user.isBlocked"  *ngIf="!user.isBlocked">      
            Block
          </button>
        </td>
      </tr>
      
    </tbody>
  </table>
  <pagination-controls class="align-middle justify-content-center align-items-center m-3 " (pageChange)="getUsers(page = $event)"></pagination-controls>
    
  </div>