<div>
    <!-- <app-header></app-header> -->
    <main>
        <div class="album py-5">
            <div class="container">
<!--     
                <div class="d-flex flex-row-reverse" style="margin-bottom: 30px;" #startersRef>
                    <div class="p-2">
    
                    </div>
                </div> -->
    
                <nav class="sticky-top category-navbar" >
                    <div class="container">
                        <ul class="nav nav-pills nav-justified text-light category-ul-nav">
                            <li class="nav-item">
                                <a class="nav-link" (click)="getFoodByCategory(1,CATEGORY.STARTERS)">
                                    <mat-icon> fastfood</mat-icon>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  (click)="getFoodByCategory(1,CATEGORY.MAIN_COURSE)">
                                    <mat-icon> restaurant_menu</mat-icon>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" (click)="getFoodByCategory(1,CATEGORY.DESSERT)">
                                    <mat-icon>cake</mat-icon>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  (click)="getFoodByCategory(1,CATEGORY.DRINKS)">
                                    <mat-icon> local_bar</mat-icon>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
    
                <div class="loader-div" *ngIf="isLoading == true && isLoaded == false">
                    <app-loader></app-loader>
                </div>
    
                <section class="section" id="starters" style="scroll-margin-top: 0rem;">
                    <div class="items-div" *ngIf="isLoaded == true">
                        
                        <div class="d-flex align-items-center pb-3 mb-5 border-bottom">
                            <span class="fs-2">{{foodList[0]?.category}}</span>
                        </div>
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            <div class="col" *ngFor="let item of foodList | paginate
                            : {
                                itemsPerPage: itemsPerPage,
                                currentPage: page,
                                totalItems: totalItems
                              }">
                                <div class="card m-1">
                                    <img class="img-loading card-img-top" [ngClass]="{'not-available': !item?.status}" src={{item?.pathToPic}} role="img" aria-label="item-image" preserveAspectRatio="xMidYMid slice" focusable="false">
    
                                    <div class="card-body">
                                        <p class="card-text"><strong>{{item?.foodName}}</strong></p>
    
                                        <div class="d-flex justify-content-between align-items-center">
                                            <small class="text-dark item-price">₹{{item?.price}}</small>
    <div *ngIf="(this.mainService.userRole==role.user)">

   
                                            <div class="btn-group" *ngIf="item.status">
                                                <span class="btn btn-sm" *ngIf="item.quantity == 0" (click)="onAdd(item)">
                                                    <mat-icon>add_shopping_cart</mat-icon>
                                                </span>
    
                                                <div class="btn-toolbar" role="toolbar" *ngIf="item.quantity > 0">
                                                    <div class="btn-group" role="group" aria-label="-">
                                                        <span type="button" class="btn btn-outline-danger btn-sm" (click)="onRemove(item)">-</span>
                                                        <span class="text-center" style="width: 30px;">{{[(item.quantity)]}}</span>
                                                        <span type="button" class="btn btn-outline-success btn-sm" (click)="onAdd(item)">+</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="!item?.status">
                                                <span class="not-available-text">Not Available.</span>
                                            </div>
                                        </div>
                                            <div *ngIf="!(this.mainService.userRole==role.user)">
                                                <mat-slide-toggle [(ngModel)]="item.status" (toggleChange)="foodStatus(!item.status,item.foodId)"></mat-slide-toggle>
                                                <span class="not-available-text">Availablity.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <pagination-controls class="align-middle justify-content-center align-items-center m-3 " (pageChange)="getFoodByPage(page = $event)"></pagination-controls>
                
            </div>
        </div>
        <app-cart-footer></app-cart-footer>
    </main>
</div>