<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <h2 class="text-uppercase text-center mb-5">Forget Password</h2>
              <form [formGroup]="forgetForm" class="align-self-center"(ngSubmit)="onSubmit()">
                 
                  <div class="form-group align-self-center">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" [ngClass]="{'is-invalid': controlName.email.errors && (controlName.email.touched || controlName.email.dirty), 'is-valid':controlName.email.valid}"  formControlName="email" class="form-control col col-12" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                      <div
                      *ngIf="controlName.email.invalid && showError "
                      class="alert alert-danger">
                      <div *ngIf="controlName.email.errors?.['required']">
                        Email is required.
                      </div>
                      </div>
                     
                    </div>
                    
                
                  <button type="submit" class="btn btn-primary">Submit</button>
                  
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
