<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <h2 class="text-uppercase text-center mb-5">Change Password</h2>
              <form [formGroup]="changePasswordForm" class="align-self-center" (ngSubmit)="onSubmit()">

                <div class="form-group">
                  <label for="exampleInputPassword1">Old Password</label>
                  <div class="d-flex">
              
                    <input [type]="visibleOldPassword?'password':'text'" class="form-control col col-12" id="exampleInputolPassword"
                      formControlName="oldPassword"  
                      [ngClass]="{'is-invalid': controlName.oldPassword.errors && (controlName.oldPassword.touched || controlName.oldPassword.dirty), 'is-valid':controlName.oldPassword.valid}"
                      placeholder="Old Password">
                    <span class="eyeicon col align-self-center justify-content-center col col-1"><i
                        [ngClass]="visibleOldPassword?'fa fa-eye':'fa fa-eye-slash'" (click)="viewOldPassword()"></i>
                    </span>
                  </div>
                  <div *ngIf="controlName.oldPassword.invalid && showError"
                    class="alert alert-danger">
                  <div *ngIf="controlName.oldPassword.errors?.['required']" class="alert alert-danger">
                    Old Password is required.
                  </div>
                  </div>
              
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">New Password</label>
                  <div class="d-flex">
                    <input [type]="visibleNewPassword?'password':'text'" class="form-control col col-12" id="exampleInputpassword"
                      formControlName="password"  [ngClass]='confirmPasswordClass'
                      [ngClass]="{'is-invalid': controlName.password.errors && (controlName.password.touched || controlName.password.dirty), 'is-valid':controlName.password.valid}"
                      placeholder="New Password" #pw>
                    <span class="eyeicon col align-self-center justify-content-center col col-1"><i
                        [ngClass]="visibleNewPassword?'fa fa-eye':'fa fa-eye-slash'" (click)="viewNewPassword()"></i>
                    </span>
                  </div>
                  <div *ngIf="controlName.password.invalid && showError"
                    class="alert alert-danger">
                  <div *ngIf="controlName.password.errors?.['required']">
                    New Password is required.
                  </div>
                  <div *ngIf="controlName.password.errors?.['pattern'] " class="alert alert-danger">
                    Password must be at least eight characters, at least one uppercase letter, one lowercase letter, one number and one special character:
                  </div>
                  <!-- <div *ngIf="controlName.password.errors?.['minlength']" class="alert alert-danger">
                    Password must be at least 8 characters long.
                  </div> -->
                  </div>
              
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Confirm Password</label>
                  <div class="d-flex">
              
                    <input [type]="visibleConfirmPassword?'password':'text'" class="form-control col col-12"
                      id="exampleInputChangePassword" formControlName="confirmPassword"
                      [ngClass]="{'is-invalid': controlName.confirmPassword.errors && (controlName.confirmPassword.touched || controlName.confirmPassword.dirty), 'is-valid':controlName.confirmPassword.valid}"
                      placeholder="Comfirm Password" #cpw (keyup)='checkPasswords(pw.value, cpw.value)'>
                    <span class="eyeicon col align-self-center justify-content-center col col-1"><i
                        [ngClass]="visibleConfirmPassword?'fa fa-eye':'fa fa-eye-slash'" (click)="viewConfirmPassword()"></i>
                    </span>
                  </div>
                  <div >
                  <div *ngIf="controlName.confirmPassword.errors?.['required']&& showError"  class="alert alert-danger">
                    Comfirm Password is required.
                  </div>
                  <div *ngIf='!passwordsMatching && isConfirmPasswordDirty && showError'  class="alert alert-danger">
                    Passwords did not match
                </div>
                <div *ngIf="controlName.password.errors?.['pattern'] && showError" class="alert alert-danger">
                  Password must be at least eight characters, at least one uppercase letter, one lowercase letter, one number and one special character:
                </div>
                <!-- <div *ngIf="controlName.password.errors?.['minlength'] && showError" class="alert alert-danger">
                  Password must be at least 8 characters long.
                </div> -->
                  </div>
              
                </div>
              
                <button type="submit" class="btn btn-primary">Submit</button>
              
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>