<p>
    <mat-toolbar color="accent">
   
      <span>My App</span>
      <div class="float-right">

        <button (click)="homePage()">Home</button>
        <button (click)="menuPage()">Menu</button>
        <button (click)="ordersPage()">Orders</button>
        <button (click)="addFoodPage()">Add Food Item</button>
        <button (click)="addChefPage()">Add Chef</button>
        <button (click)="viewProfile()">View Profile</button>
        <button (click)="updateProfile()">Update Profile</button>
        <button (click)="changePassword()">Change Password</button>
        <button (click)="signOut()">Log Out</button>
    </div>
    </mat-toolbar>
  </p>